.content-secondary {
  font-size: 1.2em;
  margin-top: 3em;
  position: relative;
  h1, h3, h3 {
    font-style: italic;
  }
}

.content-callout {
  text-align: center;
  h1 {
    @extend %title-centered;
  }
  p {
    @extend %subtitle-centered;
  }
}