.content-featured {
  margin-top: 3.5em;
  h1 {
    @extend %title-featured;
  }
}

.content-featured-intro {
  font-family: $subfont;
  font-size: 1.4em;
  margin: 1.6em 0;
  @include sb-media(30em) {
    font-size: 1.4em;
  }
}
.content-featured-avatar {
  @include box-shadow(0 0 6px darken($color-primary, 20%));
  border-radius: 10em;
  float: left;
  margin-right: 1.4em;
  max-width: 75px;
}

.nav-social {
  border-top: solid .1em $color-lines;
  padding-top: 2.2em;
  [data-icon]:before {
    margin-right: .6em;
  }
  @include sb-media(40em) {
    text-align: justify;
  }
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

a.link-social {
  @include transition(background 0.3s ease);
  border-bottom: none;
  color: $color-typography;
  display: inline-block;
  font-family: $subfont;
  font-size: 1em;
  padding: .5em 0;
  width: 49.3%;
  &:hover {
    color: darken($color-typography, 8%);
  }
  @include sb-media(40em) {
    display: inline-block;  
    width: auto;
  }
}

a.link-social-attention {
  @include sb-media(40em) {
    display: inline-block;
  }
}

.content-secondary {
  font-size: 1.2em;
  margin-top: 3em;
  position: relative;
  h1, h3, h3 {
    font-style: italic;
  }
}

.content-callout {
  text-align: center;
  h1 {
    @extend %title-centered;
  }
  p {
    @extend %subtitle-centered;
  }
}