/* Links and buttons */

.link-internal {
  font-style: italic;
}

.btn {
  // remove default button styles
  border: none;
  margin: 0;

  @include border-radius(.2em);
  @extend %quick-transition;
  font-family: sans-serif;
  cursor: pointer;
  padding: 0.3em 0.6em;
  text-decoration: none;

  @include sb-media(40em) {
    padding: 0.7em 1.4em;
  }
}

%btn-base {
  font-weight: 700;
  text-transform: uppercase;
}

.btn_standard {
  @extend %btn-base;
  background-color: $c--gray-light-3x;

  &, &:visited {
    color: $c--gray;
  }

  &:hover {
    background: darken($c--gray-light-3x, 8%);
    color: darken($c--gray, 7%);
  }
}

.btn_translucent {
  @extend %btn-base;
  background-color: rgba(255, 255, 255, .6);

  &, &:visited {
    color: $c--gray-dark;
  }

  &:hover {
    background-color: rgba(255, 255, 255, .95);
  }
}