/* Links and buttons */

.link-internal {
  font-style: italic;
}

.btn {
  // remove default button styles
  border: none;
  margin: 0;

  @include border-radius(.2em);
  @extend %quick-transition;
  font-family: sans-serif;
  cursor: pointer;
  padding: 0.3em 0.6em;
  text-decoration: none;

  @include sb-media(40em) {
    padding: 0.7em 1.4em;
  }
}

.btn_standard {
  background: $color-primary;
  color: $color-typography;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background: darken($color-primary, 5%);
  }
}