// base colors

$color-primary: #e8e0d7;
$color-secondary: #ba4a41;
$color-highlight: #f8eec7;

// element colors

$color-typography: darken($color-primary, 55%);
$color-lines: darken($color-primary, 10%);