// base colors
$color-primary: #e8e0d7; // light tan
$color-secondary: #ba4a41; // bright orange
$color-highlight: #f8eec7; // muted yellow

$c--gray-light-2x: #e5e5e5;
$c--gray: #4f5855;
$c--gray-dark: #3B413F;

// element colors
$color-typography: darken($color-primary, 55%);
$color-lines: darken($color-primary, 10%);