/* Document Styles */

html,
button,
input,
select,
textarea {
  color: $color-typography;
}

h1, h2, h3, h4, h5 {
  color: darken($color-typography, 10%);
  font-weight: 700;
  a, a:visited {
    text-decoration: none;
    color: darken($color-typography, 10%);
    border-bottom: 0;
  }
  a:hover {
    color: darken($color-typography, 13%);
    border-bottom: 0;
  }
}

p, pre {
  line-height: 2em;
  margin: 1.5em 0; // also addresses an IE bug where margins don't show properly
}

ul li, ol li {
  margin: 1em 0;
  line-height: 2em;
}

body {
  background: white;
  font-family: $font;
  font-size: 1em;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  background: lighten($color-primary, 5%);
  font-style: italic;
  font-size: 1.2em;
  margin: 2em 0;
  overflow: scroll;
  padding: 1.2em 1.5em;
  @include border-radius(.2em);
  @include respond-to(45em) {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
}

.quote-left {
  @include respond-to(60em) {
    float: left;
    margin: 0 3.2em 1em 0;
    max-width: 37%;
  }
}

.quote-right {
  @include respond-to(60em) {
    float: right;
    margin: 0 0 1em 3.2em;
    max-width: 37%;
  }
}

.quote-source {
  font: {
    size: .6em;
    style: normal;
    family: $subfont;
    weight: 400;
  }
  display: block;
  margin-top: 1.3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  a {
    font-style: italic;
  }
}

::-moz-selection {
  background: $color-highlight;
  text-shadow: none;
}

::selection {
  background: $color-highlight;
  text-shadow: none;
}

.responsive-line_break {
  @include respond-to(45em) {
    display: block;
  }
}

/* Chrome Frame Prompt */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Image Replacement */

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Clearfix for floats */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Clearfix helpers for IE 6/7 only */

.clearfix {
  *zoom: 1;
}