%link-standard {
  @include transition(color 0.3s ease);
  color: $color-secondary;
  text-decoration: none;
  border-bottom: 1px solid $color-secondary;
}

%link-standard-hover {
  color: darken($color-secondary, 7%);
  border-bottom: 1px solid darken($color-secondary, 7%);
}

%list-reset {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  list-style-type: none;
}

%container {
  max-width: 54em;
  margin: 0 auto;
  padding: 0 5%;
  @include respond-to(69em) {
    padding: 0;
  }
}

%ir {
  // image replacement
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; // IE 6/7 fallback
  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}