.footer-primary {
  clear: both;
  margin-top: 3em;
  padding: 1em .5em 6em;
  text-align: center;
  br {
    @include sb-media(35em) {
      display: none;
    }
  }
}

.footer-primary-separator {
  display:none;
  @include sb-media(35em) {
    display: inline;
  }
}