.home-art_top {
  @include respond-to(40em) {
    float: left;
    width: 30%;
  }
}

.home-art_top-photo img {
  @include respond-to(40em) {
    @include border-radius(9em);
    border: solid .3em $color-primary;
    margin-top: 4em;
  }
  @include respond-to(60em) {
    margin-top: 5.5em;
  }
}

.feature-article {
  @include respond-to(40em) {
    max-width: 54em;
    margin: 0 auto;
    padding: 0 5%;
  }
  @include respond-to(69em) {
      padding: 0;
    }
  article {
    margin: 0 auto;
    padding: 0 5%;
    @include respond-to(40em) {
      margin-top: 1em;
      margin-left: 38%;
      padding: 0;
    }
    @include respond-to(60em) {
      margin-top: 3em;
      margin-left: 20.5em;
    }
  }
  h1 {
    @extend %title-featured;
  }
  p {
    font-size: 1.3em;
    line-height: 1.7em;
    @include respond-to(40em) {
      line-height: 2em;
      margin-bottom: 2em;
    }
    @include respond-to(60em) {
      line-height: 2.3em;
    }
  }
}

.module-aside {
  margin-top: 2.5em;
}

.related-info ul {
  @extend %list-reset;
  li {
    margin-top: .8em;
  }
}