$bp-layout-medium: 40em;

.layout--left-third {
  @include sb-media( $bp-layout-medium ) {
    float: left;
    width: 30%;
  }
}

.layout--right-twothirds {
  @include sb-media(40em) {
    margin-top: 0;
    margin-left: 38%;
  }
  @include sb-media(60em) {
    margin-left: 21.5em;
  }
}

.layout--vertical-space {
  margin-top: 4em;
}

.layout--container {
  @extend %container;
}

.layout--main {
  @extend %container;
  margin-top: 2em;
  clear: both;

  @include sb-media(40em) {
    margin-top: 6em;
  }
}