%title-centered {
  // includes centered lines
  // content should be placed within a <b> tag
  font-style: italic;
  margin-bottom: .25em;
  text-align: center;
  &:before {
    background: $c--gray-light-3x;
    content: "\00a0";
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 0.8em;
    position: absolute;
    z-index: -1;
  }
  b {
    display: inline-block;
    background: white;
    line-height: 1;
    padding: 0 .3em;
  }
}

%subtitle-centered {
  color: darken($color-primary, 30%);
  font-style: italic;
  font-size: .75em;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

%title-article_list {
  font-size: 1.4em;
  font-style: italic;
}

.highlight_text {
  background: $color-highlight;
  font-style: italic;
}