/* Document Styles */

html,
button,
input,
select,
textarea {
  color: $type;
}

body {
  background: white;
  font-family: $font;
  font-size: 1em;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  font-family: $subfont;
}

::-moz-selection {
  background: lighten($base, 5%);
  text-shadow: none;
}

::selection {
  background: lighten($base, 5%);
  text-shadow: none;
}

/* Links and buttons */

a, a:visited {
  color: $secondary;
}

.internal-link {
  font-style: italic;
}

/* Chrome Frame Prompt */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Image Replacement */

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Clearfix for floats */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Clearfix helpers for IE 6/7 only */

.clearfix {
  *zoom: 1;
}