header {
  background: $base;
  padding: 1em 0 1.3em;
  hgroup {
    margin: 0 auto;
    max-width: 13.6em;
    text-align: center;
  }
  h1 {
    display: inline;
    font-weight: 400;
  }
}

.logo {
  font-size: 2.3em;
  position: relative;
  top: 0.2em;
}

nav {
  margin-top: 0.3em;
  text-align: center;
  ul {
    @extend %list-reset;
    li {
      display: inline;
    }
  }
  a {
    @extend %btn-nav;
  }
}