.feature-article {
  @extend %container;
  padding-top: 1.3em;
  @include respond-to(55em) {
    padding-top: 4.3em;
  }
  img {
    @include border-radius(10em);
    border: .2em solid lighten($secondary, 15%);
    @include box-shadow($base 1px 1px 3px 1px);
    @include respond-to(22em) {
      margin: 0 auto;
      display: block;
    }
    @include respond-to(40em) {
      max-width: 13em;
      float: left;
      margin: 0;
      margin-top: 2em;
      margin-left: -1em;
    }
    @include respond-to(55em) {
      max-width: 15em;
    }
  }
  h1 {
    border-bottom: solid .12em $secondary;
    font-size: 2.8em;
    font-weight: 400;
    margin: 0.5em 0 .8em;
    @include respond-to(40em) {
      margin: 0.5em 0 0.8em;
    }
  }
  p {
    font-size: 1.3em;
    line-height: 1.7em;
  }
  article {
    @include respond-to(40em) {
      margin-left: 16em;
    }
    @include respond-to(55em) {
      margin-left: 20em;
    }
  }
}

.main-content {
  padding-top: .9em;
  margin-top: 2em;
  border-top: 1px solid $lines;
  @extend %container;
  clear: both;
  aside {
    text-align: center;
    @include respond-to(40em) {
      float:left;
      max-width: 13em;
    }
    section {
      @include border-radius(.3em);
      @include box-shadow($complement 1px 1px 3px 0);
    }
    h1 {
      @extend %subheader;
      @include respond-to(40em) {
        text-align:left;
        margin-bottom: 1.5em;
      }
    }
    p {
      background: lighten($complement, 10%);
      @include border-radius(.3em .3em 0 0);
      color: darken($complement, 40%);
      padding: 1.4em 1em;
      margin: 0;
    }
    a {
      @extend %sublink;
      background: darken($complement, 5%);
      @include border-radius(0 0 .3em .3em);
      border-top: 1px solid darken($complement, 15%);
      color: darken($complement, 50%);
      display: block;
      padding: .8em 1em;
      &:hover {
        background: darken($complement, 10%);
      }
    }
  }
}

.past-articles {
  margin-top: 2.8em;
  @include respond-to(40em) {
    margin-top: 0;
    margin-left: 15.9em;
  }
  @include respond-to(55em) {
    margin-left: 19.9em;
  }
  h1:first-child {
    @extend %subheader;
    margin-bottom: 1.5em;
    text-align: center;
    @include respond-to(40em) {
      text-align: left;
    }
  }
  article {
    margin-bottom: 2em;
    time {
      background: darken($base, 5%);
      @include border-radius(.3em);
      display: inline-block;
      line-height: 1.3em;
      font-family: $subfont;
      font-size: .7em;
      float: left;
      padding: 0.5em 0.9em 0.3em;
      text-align: center;
      text-transform: uppercase;
      b {
        font-weight: 700;
        font-size: 1.5em;
      }
    }
    h1 {
      @extend %articlelist;
      border-bottom: 1px solid $lines;
      margin: 0 0 0 2.5em;
      padding-bottom: 0.5em;
    }
  }
}