@mixin respond-to($query) {
  @media (min-width: $query) {
    @content
  }
}

@mixin title-link {
  a, a:visited {
    text-decoration: none;
    color: $type;
  }

  a:hover {
    color: darken($type, 8%);
  }
}