{% capture root %}{%if page.root %}{{ page.root}}{% else %}{{ post.root }}{% endif %}{% endcapture %}
<footer class="footer-primary">
  <p>Built by hand in the <a href="http://en.wikipedia.org/wiki/Dayton,_Ohio" title="Dayton, OH - Wikipedia">rusty Midwest</a><br /><span class="footer-primary-separator"> | </span>Proudly hosted on <a href="http://mediatemple.net/" title="Media Temple hosting">(mt) Media Temple</a></p>
  <small>&copy; 2013 NEIL RENICKER</small>
</footer>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
<script src="{{ root }}js/plugins.js"></script>
<script src="{{ root }}js/vendor/picturefill.js"></script>

{% for item in page.js %}
  <script src="{{ root }}js/{{ page.js }}.js"></script>
{% endfor %}

<!--[if lt IE 7]>
  <script src="{{ root }}js/lte-ie7.js"></script>
<![endif]-->
<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-465258-C";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>