{% capture root %}{%if page.root %}{{ page.root}}{% else %}{{ post.root }}{% endif %}{% endcapture %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if lte IE 7]><script src="js/lte-ie7.js"></script><![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %}NeilRenicker.com</title>
    <meta name="description" content="I'm a designer, developer, and writer living and working in the Midwest. I write about design, web development, and workflow; I hope you'll follow along.">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ root }}css/131114-base.css">
    {% if page.css %}
    <link rel="stylesheet" href="{{ root }}css/posts/{{ page.css }}.css">
    {% endif %}
    <script type="text/javascript" src="//use.typekit.net/qvv0wbm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="{{ root }}js/vendor/modernizr-2.6.2.min.js"></script>
  </head>