<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header class="header-primary clearfix">
  <section class="header-primary-container">
    <hgroup class="header-primary-logo">
      <a href="/" title="NeilRenicker.com">
        <span class="header-primary-icon" aria-hidden="true" data-icon="&#xe005;"></span>
        <h1>Neil Renicker</h1>
      </a>
    </hgroup>
    <nav>
      <ul>
        <li><a class="btn btn-standard" href="articles/" title="Articles I've Written">Articles</a></li>
        <li><a class="btn btn-standard" href="#" title="My Work">Work</a></li>
        <li><a class="btn btn-standard" href="http://nr.dev/about.html" title="About Me">About</a></li>
      </ul>
    </nav>
  </section>
</header>