<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<header class="clearfix">
  <section class="header-container">
    <hgroup class="logo">
      <a href="/" title="NeilRenicker.com">
        <span class="icon" aria-hidden="true" data-icon="&#x6e;"></span>
        <h1>Neil Renicker</h1>
      </a>
    </hgroup>
    <nav>
      <ul>
        <li><a class="btn" href="/articles.html" title="Articles I've Written">Articles</a></li>
        <li><a class="btn" href="#" title="My Work">Work</a></li>
        <li><a class="btn" href="#" title="About Me">About</a></li>
      </ul>
    </nav>
  </section>
</header>