@import 'compass';

$color-primary: #1D2122;
$color-typography: #777777;
$color-highlight: #2c5e6e;

// override site colors

body {
  background: $color-primary url(../../img/posts/2013-07-19-bg.jpg) repeat;
  color: $color-typography;
}

h1, h2, h3, h4, h5 {
  color: lighten($color-typography, 15%);
}

::-moz-selection {
  background: $color-highlight;
  text-shadow: none;
}

::selection {
  background: $color-highlight;
  text-shadow: none;
}

.header-primary {
  @include box-shadow(darken($color-primary, 7%) 1px 1px 5px 1px);
  background: darken($color-primary, 3%);
}

.header-primary h1 {
  color: $color-typography;
}

.header-primary-icon {
  color: $color-typography;
}

.post-intro {
  border-top-color: $color-typography;
  border-bottom-color: $color-typography;
}

a, a:hover, a:visited, .post a, .post a:hover, .post a:visited{
  border-bottom-color: lighten($color-typography, 20%);
  color: lighten($color-typography, 20%);
}

a.btn-standard {
  background: darken($color-typography, 20%);
  color: darken($color-primary, 3%);
  &:hover {
    background: darken($color-typography, 8%);
  }
}

blockquote {
  @include box-shadow(inset darken($color-primary, 3%) 1px 1px 5px 1px);
  background: darken($color-primary, 2%);
  color: $color-typography;
}

.footer-article-endMark {
  &:before {
    background: darken($color-primary, 4%);
  }
  b {
    background: $color-primary url(../../img/posts/2013-07-19-bg.jpg) repeat;
  }
}

a.footer-article-endMark-icon {
  color: darken($color-primary, 4%);
}

.post-tags-title {
  color: $color-typography;
}

.post-tags-tag {
  background: darken($color-typography, 20%);
  &:hover {
    background: darken($color-typography, 8%);
  }

  a {
    color: darken($color-primary, 3%);
  }
}

// styles for new markup

.art-sbNeon {
  margin: 1.5em auto 0;
  display: block; 
}