---
layout: global
root: "../" 
---

<div class="container">
  <section class="content-featured">
    <h1>Hi, I'm Neil</h1>
    <img class="content-featured-avatar" src="img/me.png" alt="Me" height="95px" width="95px" />
    <p class="content-featured-intro">I&#39;m a quiet designer, developer, and writer living and working in the Midwest. I&#39;m in with the rascally bandits over at <a href="http://seesparkbox.com/" title="Sparkbox">Sparkbox</a>, where I’m intent on making the web beautiful inside and out. I hone my craft by writing here on my <a href="/articles">journal</a>; I think by writing, and learn by sharing, so I invite you to follow along.</p>
    <nav class="nav-social">
      <a href="http://twitter.com/neilrenicker" class="link-social" aria-hidden="true" data-icon="&#xe000;">Twitter</a>
      <a href="http://dribbble.com/neilrenicker" class="link-social" aria-hidden="true" data-icon="&#xe001;">Dribbble</a>
      <a href="https://github.com/neilrenicker" class="link-social" aria-hidden="true" data-icon="&#xe004;">Github</a>
      <a href="http://instagram.com/neilrenicker" class="link-social" aria-hidden="true" data-icon="&#xe002;">Instagram</a>
      <a href="/feed.xml" class="link-social" aria-hidden="true" data-icon="&#xe003;">RSS Feed</a>
      <a href="mailto:neilrenicker@gmail.com?Subject=Hey Neil!" class="btn btn-attention link-social-attention">Contact&nbsp;Me</a>
    </nav>
  </section>
  <section class="content-secondary">
    <h1>My Career</h1>
    <p>I believe that the dichotomy often presented as “designers” and “developers” is an illusion. Designers can learn to build the interfaces they design, and developers can learn to have empathy for their users. I’m commited to educating against this stark notion.</p>
    <p>I believe that design is the whole experience of a thing - not merely its outer skin. In the interfaces I build, I want to care more about the way it makes my users <em>feel</em> than the way it <em>looks</em>. With this kind of user-centric focus, I often find that those two ideas are difficult to tear apart - but it’s the attitude going into the project that matters.</p>
    <p>I believe in building things that matter. That usually means avoiding the pressure to create things simply for acclaim or perceived urgency. Building things that will truly serve people means working hard on one thing for a long time. Quality &gt; quantity.</p>
    <p>I believe in growing. I’m committed to reading and thinking about my craft. I see the wisdom in spending a month to learn a new skill that could save an hour every day of needless tasks. I’m more interested in the long future ahead than the short payoff tomorrow.</p>
    <h1>Family and faith</h1>
    <p>I’m happily married to <a href="http://mandalynrael.com">Mandalyn</a>, and I just became a proud and happy <a href="http://instagram.com/p/a2BvYXh-oF/">Dad</a> this past June. I’m a follower of Jesus - and the Bible that tells me of him.</p>
  </section>
  <section class="content-secondary content-callout">
    <h1 class="title-centered"><b>Quotable</b></h1>
    <p>I keep track of quotes I find particularly inspiring on my <a href="http://neilrenicker.tumblr.com" title="neilsbrain on Tumblr">Tumblr</a>. One of them is published here for you to enjoy. Isn't that nice?</p>
    <blockquote>"Each Steinway grand piano, for example, takes nearly a year to create. Nothing&nbsp;is&nbsp;hurried."
      <span class="quote-source">-<a href="http://www.steinway.com/about/">steinway.com/about</a></span>
    </blockquote>
  </section>
</div>