---
layout: global
root: "../" 
---

<div class="container">
  <section>
    <h2>Hi, I'm Neil</h2>
    <p>I'm a quiet midwest designer focused on interfaces and illustration. I run the small web design shop Sturdy, where I enjoy flinging front-end code and consuming copious amounts of deep black coffee. I’m happily married to Mandalyn, and I’m planning to be promoted to the office of “Dad” this June.</p>
    <nav class="nav-social">
      <a href="#">Twitter</a>
      <a href="#">Dribbble</a>
      <a href="#">Instagram</a>
      <a href="#">RSS Feed</a>
      <a href="#">Contact Me</a>
    </nav>
  </section>
  <section>
    <h3>A little more...</h3>
    <p>I want to be remembered as a husband, dad, and friend that truly loved people and truly loved Jesus. With my career, I'd like to be remembered as a helpful, smart, and visually solid web designer and illustrator who truly loved people and truly loved Jesus.</p>
    <p>Generally, I'd like to be known as a user interface designer who is extremely comfortable with code, and has a flair for illustration. I think I'll have more success getting in the public eye with helpful projects, ideas, and words, rather than a particular visual "style".</p>
  </section>
  <section>
    <h3>Quotable</h3>
    <p>A particulary inspiring though from my favorited tweets.</p>
    <blockquote>"If you care more about hierarchy than shipping the best products/services/experiences to people, you’re a burden to your team."
      <span class="quote-source"><a href="#" title="A tweet from @blankenship">Joshua Blankenship</a></span>
    </blockquote>
  </section>
</div>