---
layout: global
root: "../"
---

<div class="art-top">
  {% if page.photo %}
  <img class="post-photo-featured" src="../img/posts/{{ page.photo }}" alt="Small strokes" />
  {% endif %}
  {% if page.art %}
  {{ page.art }}
  {% endif %}
</div>
<div class="container">
  <article class="post">
    <header>
      <h2>{{ page.title }}</h2>
      <p class="post-meta"><time>{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% if page.intro %}
      <p class="post-intro">{{ page.intro }}</p>
      {% endif %}
    </header>
    
    {{ content }}

  </article>
</div>