---
layout: global
root: "../"
---

<section class="headline headline-with_underline">
  <h1>I write about design, web development, and&nbsp;workflow. <span class="responsive-line_break">This is an archive of my articles.</span></h1>
</section>

<section class="main-content">
  <aside>
    <section class="tags">
      <h1>Browse by category</h1>
      <ul>
        {% for tag in site.tags %}
        <li>
          <a href="/tag/{{ tag | first }}" title="See all posts tagged {{ tag | first }}">{{ tag | first }}</a>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!--  <section class="module-aside">
      <form class="search">
        <input type="search" class="search-query" placeholder="Search">
      </form>
    </section> -->
    <section class="related-info">
      <h1>New? Start here:</h1>
      <p>If you’re new to my site, you can get a good feeling for the things I care about by starting with these articles:</p>
      <ul>
        <li><a href="/articles/designer-learning-ruby" title="">I'm a Designer and I'm Learning Ruby</a></li>
        <li><a href="/articles/little-web-worker" title="">The Little Web Worker</a></li>
        <li><a href="/articles/design-that-isnt-problem-solving-is-decoration" title="">Design That Isn't Problem-solving Is Decoration</a></li>
      </ul>
    </section>
  </aside>
  <section class="past-articles past-articles-right_col">
    {% for article in site.categories.articles %}
    <article>
      <time datetime="{{ article.date | date: "%Y-%m-%d" }}">{{ article.date | date: "%b" }}<br /><b>{{ article.date | date: "%d" }}</b></time>
      <h1><a href="{{ article.id }}" title="Read {{ article.title }}">{{ article.title }}</a></h1>
    </article>
    {% endfor %}
  </section>
</section>