---
layout: global
root: "../"
---

<section class="headline clearfix">
  <h1>I enjoy writing about design, development, and technology. This is an archive of my articles, grouped by&nbsp;year.</h1>
</section>

<section class="main-content">
  <aside>
    <section class="tags">
      <h1>Browse by category</h1>
      <ul>
        <li><a href="/" title="design">design</a></li>
        <li><a href="/" title="personal">personal</a></li>
        <li><a href="/" title="inspiration">inspiration</a></li>
        <li><a href="/" title="css">css</a></li>
        <li><a href="/" title="ruby">ruby</a></li>
        <li><a href="/" title="html">html</a></li>
        <li><a href="/" title="events">events</a></li>
      </ul>
    </section>
    <section class="module-aside">
      <form class="search">
        <input type="search" class="search-query" placeholder="Search">
      </form>
    </section>
    <section class="module-aside related-info">
      <h1>New? Start here:</h1>
      <p>If you’re new to my site, you can get a good feeling for the things I’m passionate about by reading these articles.</p>
      <ul>
        <li><a href="/" title="">I'm a Designer and I'm Learning Ruby</a></li>
        <li><a href="/" title="">Organized CSS - A Small Guide</a></li>
        <li><a href="/" title="">On Thinking</a></li>
      </ul>
    </section>
  </aside>
  <section class="past-articles">
    <h1 class="subheader">Articles written in 2013</h1>
    <article>
      <time datetime="2013-02-15">Apr<br /><b>15</b></time>
      <h1><a href="#" title="">I'm a Designer, and I'm Learning Ruby</a></h1>
    </article>
    <article>
      <time datetime="2013-12-10">Apr<br /><b>10</b></time>
      <h1><a href="#" title="">Font Organization</a></h1>
    </article>
    <article>
      <time datetime="2013-10-05">Mar<br /><b>08</b></time>
      <h1><a href="#" title="">Robots and Reach</a></h1>
    </article><article>
      <time datetime="2013-02-15">Feb<br /><b>15</b></time>
      <h1><a href="#" title="">Fear and Code</a></h1>
    </article>
    <article>
      <time datetime="2013-12-10">Dec<br /><b>10</b></time>
      <h1><a href="#" title="">Restless and Surprisingly Happy</a></h1>
    </article>
    <article>
      <time datetime="2013-10-05">Oct<br /><b>05</b></time>
      <h1><a href="#" title="">Oh Hi, Design</a></h1>
    </article><article>
      <time datetime="2013-02-15">Feb<br /><b>15</b></time>
      <h1><a href="#" title="">Aliens, You Guys!</a></h1>
    </article>
    <article>
      <time datetime="2013-12-10">Dec<br /><b>10</b></time>
      <h1><a href="#" title="">Sketch is Better Than Illustrator</a></h1>
    </article>
    <article>
      <time datetime="2013-10-05">Oct<br /><b>05</b></time>
      <h1><a href="#" title="">On Speaking</a></h1>
    </article>
  </section>
</section>