---
layout: global
root: "../"
---

<div class="art-top">
  {% if page.photo %}
  <img class="post-photo-featured" src="../img/posts/{{ page.photo }}" alt="Small strokes" />
  {% endif %}
  {% if page.art %}
  {{ page.art }}
  {% endif %}
</div>
<div class="layout--container">
  <article class="wysiwyg">
    <header>
      <h2>{{ page.title }}</h2>
      <p class="post-meta"><time>{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% if page.intro %}
      <p class="post-intro">{{ page.intro }}</p>
      {% endif %}
    </header>
    
    {{ content }}

  </article>
  <footer class="footer-article">
    <div class="footer-article-endMark">
      <b><a class="footer-article-endMark-icon" href="/" title="NeilRenicker.com" aria-hidden="true" data-icon="&#xe005;"></a></b>
    </div>
  </footer>
  {% unless page.tags == empty %}
  <section class="post-tags-wrapper">
    <h1 class="post-tags-title">Filed under:</h1>
    <ul class="post-tags">
      {% for tag in page.tags %}
        <li class="post-tags-tag"><a href="/tag/{{ tag }}" title="See all posts tagged {{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </section>
  {% endunless %}
</div>