---
layout: global
site-header-modifier: site-header_with-hero-article
---

{% include hero-article.html %}

<section class="post-listing layout--container layout--vertical-space">
  {% for post in site.posts limit:10 %}

    {% if post.categories contains 'articles' %}

      <article class="post-listing--item_expanded">
        <a class="post-listing--post-link" href="{{ post.id }}" title="Read {{ post.title }}">
          <h1 class="post-listing--item_expanded--title">{{ post.title }}</h1>
          <time class="post-listing--item_expanded--date" datetime="{{ latest_post.date | date: "%Y-%m-%d" }}">{{ latest_post.date | date: "%B %d, %Y" }}</time>
        </a>
        {% if post.intro %}
        <p class="post-listing--item_expanded--intro">{{ post.intro }}</p>
        {% endif %}
      </article>

    {% elsif post.categories contains 'notes' %}

      <article class="post-listing--item_condensed">
        <a class="post-listing--post-link" href="{{ post.id }}" title="Read {{ post.title }}">
          <time class="post-listing--item_condensed--date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b" }}<br /><b>{{ post.date | date: "%d" }}</b></time>
          <h1 class="post-listing--item_condensed--title">{{ post.title }}</h1>
        </a>
      </article>

    {% endif %}
  {% endfor %}

  <a class="post-listing--archive-link" href="/articles" title="Articles archive">Browse older posts →</a>
</section>