---
layout: global
root: "../"
---

<section class="page-intro">
  <h1 class="page-intro--headline">Here's the stuff I've written about <span class="highlighted-text">{{ page.title }}</span>:</h1>
</section>

<main class="layout--main">
  <section class="post-listing layout--vertical-space">

    {% for post in site.tags.[page.title] %}

    <article class="post-listing--item_basic">
      <a class="post-listing--post-link" href="{{ post.id }}" title="Read {{ post.title }}">
        <h1 class="post-listing--item_basic--title">{{ post.title }}</h1>
      </a>
      {% if post.intro %}
        <p class="post-listing--item_basic--intro">{{ post.intro }}</p>
      {% endif %}
      <a class="post-listing--item_basic--continue-link" href="{{ post.id }}" title="{{ post.title }}">Read this →</a>
    </article>

    {% endfor %}

  </section>
</main>