---
layout: global
root: "../"
---

<section class="headline">
  <h1>Here's the stuff I've written about <span class="highlight_text">{{ page.title }}</span>:</h1>
</section>
<main class="layout--main">
  <section class="past-articles">
    {% for post in site.tags.[page.title] %}
    <article>
      <h1><a href="{{ post.id }}" title="{{ post.title }}">{{ post.title }}</a></h1>
      <p>{{ post.intro }}</p>
      <a href="{{ post.id }}" title="{{ post.title }}">Keep reading →</a>
    </article>
    {% endfor %}
  </section>
</main>