---
layout: global
root: "../"
title: Winter Icons
---

<style type="text/css" media="screen">
  .winterIcons-wrapper, .winterIcons-wrapper h2 {
    text-align: center;
    color: black;
    max-width: 85%;
    margin: 2em auto;
  }

  .winterIcons-title {
    font-size: 2em;
  }

  a.button, a.button:hover, a.button:visited, a.button:focus {
    border-bottom: none;
    color: #7FEC53;
    background: black;
    moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow:    1px 1px 5px 0px #539890;
    -webkit-box-shadow: 1px 1px 5px 0px #539890;
    box-shadow:         1px 1px 5px 0px #539890;
    text-align: left;
    color: #66ff66;
    background: black;
    padding: 10px 25px;
  }

  img, img.pretty {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .icon-preview {
    margin-top: 1.3em;
    margin-bottom: .75em;
  }

  .icon-display {
    margin: 2.5em auto;
    max-width: 80%;
  }

  .fs1 {
    margin-left: 12px;
  }

  ::selection, ::-moz-selection {
    background: #8fc0bb;
    color: black;
  }

  #winter-icon-license {
    background: #D1EBE8;
    padding: 1.5em;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    margin: 2.5em auto 3em;
    max-width: 50em;
  }

  #winter-icon-license h2 {
    font-size: 1.2em;
  }

</style>

<div class="winterIcons-wrapper">
  <h2 class="winterIcons-title">Winter has come.<br />Get your mitts on some icons.</h2>
  <p>The community on the web gives me so much - helping me grow in my craft and inspiring my work. Here’s a little gift for all of you as a small thank you.</p>
  <img class="icon-display" src="{{ root }}/img/work/winter-icon-display.png" alt="Free icons display: hat, snowflake, mitten, acorn, sweater, snowman, scarff, coffee, chicken, ipod, dog, igloo, cookie, snowmobile, and snow shovel" height="" width="650" />
  <div class="button-wrapper">
    <a class="button" href="http://via.neil.re/QB2e">Download</span></a>
  </div>
  <section id="winter-icon-license">
    <h2>You’re downloading a folder with 16 .EPS + .JPG icons.</h2>
    <p>These are for you to have and to hold and to do with however you like. Use them in your Christmas cards, on your blooming websites, and wherever else in the world you want to. I don’t care. Attribution is appreciated but not required, and don’t sell them or act like you made them, of course. If you think of it, it would be fun if you share these, and let me know where you use them.</p>
    <img class="icon-preview"src="{{ root }}/img/work/winter-icon-teaser.png" alt="free vector winter icons" width="300" />
  </section>

  <p>Say hello <a href="http://twitter.com/neilrenicker">@neilrenicker</a> or tweet this page:</p>

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://neil.re/winter-icons" data-text="Grab yourself some free winter icons:" data-via="neilrenicker" data-size="large" data-related="neilrenicker" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>